h2 User's list 
table
    tr 
        th ID 
        th NAME 
        th EMAIL 
        th USERNAME 
    each user in users 
        tr 
            td #{user.id}
            td #{user.name}
            td #{user.email}
            td #{user.username}